# This is a template .env file. 
# This file goes in the root of your project.
# Rename this file to .env and fill in the values.

# Add this file to your .gitignore file.

# QuickBase credentials.
QUICKBASE_USERNAME=
QUICKBASE_PASSWORD=

# Logout to get the sign-in URL for QuickBase.
# Ex: https://builderprogram-USERNAME.quickbase.com/db/main?a=SignIn
QUICKBASE_LOGIN_URL=

# Navigate to the Pages section in your app. This is the page the lists all your code pages. 
# Ex: https://builderprogram-USERNAME.quickbase.com/nav/app/DBID/action/AppDBPages
QUICKBASE_CODEPAGES_URL=

# Navigate to a code page in your app. This is the page where you edit an individual code page.
# Ex: https://builderprogram-USERNAME.quickbase.com/nav/app/DBID/action/pageedit?pageID=
QUICKBASE_CODEPAGE_EDIT_URL=

# The <title></title> of your generated HTML page
QUICKBASE_HTML_PAGE_TITLE=

# Code page IDs are found in the url when editing a code page.
# Html code page ID is optional but recommended
QUICKBASE_CODEPAGE_HTML_ID= 
# Comma separated list of code page IDs. ex: 3,5
QUICKBASE_CODEPAGE_JS_IDS=
# Comma separated list of code page IDs. ex: 4,6
QUICKBASE_CODEPAGE_CSS_IDS=